<div class="container p-3 text-center flex-fill" style="height: 100vh;">
    <h1>Driver List</h1>
    @if (drivers && drivers.length > 0) {
    <div style="max-height: 80vh; overflow-y: auto">
        <table class="table table-striped table-bordered" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th scope="col" class="text-wrap">Mongoose ID</th>
                    <th scope="col" class="text-wrap">Driver ID</th>
                    <th scope="col" class="text-wrap">Name</th>
                    <th scope="col" class="text-wrap">Department</th>
                    <th scope="col" class="text-wrap">License</th>
                    <th scope="col" class="text-wrap">Is Active</th>
                    <th scope="col" class="text-wrap">Created At</th>
                    <th scope="col" class="text-wrap">Assigned Packages</th>
                    <th scope="col" class="text-wrap">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (driver of drivers; track driver; let i = $index) {                
                <tr>
                    <td class="text-break">{{ driver._id }}</td>
                    <td class="text-break">{{ driver.driver_id }}</td>
                    <td class="text-break">{{ driver.driver_name }}</td>
                    <td class="text-break">{{ driver.driver_department }}</td>
                    <td class="text-break">{{ driver.driver_license }}</td>
                    <td class="text-break">{{ driver.driver_is_active ? 'Yes' : 'No' }}</td>
                    <td class="text-break">{{ driver.created_at }}</td>
                    <td class="text-break">{{ driver.assigned_packages.join(', ') }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deleteDriver(driver._id)">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
    @else {
    <div class="alert alert-info mt-3" role="alert">
        No drivers available.
    </div>
    }
</div>