<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg" style="width: 70vw;">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">Update Driver</h2>
        </div>
        <div class="card-body">
            
            <!-- Driver selection -->
            <div class="form-group"></div>
                <label for="driverSelect" class="form-label fw-bold text-primary">Select Driver to Update:</label>
                <select id="driverSelect" class="form-control" [(ngModel)]="selectedDriverId" 
                        (change)="loadDriverDetails()" required>
                    <option value="" disabled>Select driver</option>
                    <option *ngFor="let driver of drivers" [ngValue]="driver._id">
                        {{ driver.driver_id }} - {{ driver.driver_name }}
                     </option>
                </select>
            </div>
            <form #driverForm="ngForm" (ngSubmit)="updateDriver()" novalidate *ngIf="driver" style="margin:20px">
                <!-- Driver Name (Disabled) -->
                <div class="form-group">
                    <label for="driver_name" class="form-label fw-bold text-primary">Driver Name:</label>
                    <input type="text" class="form-control" id="driver_name" name="driver_name" 
                           [(ngModel)]="driver.driver_name" #driverName="ngModel" disabled>
                </div>

                <div class="form-group mt-2">
                    <label for="department" class="form-label fw-bold text-primary">Driver Department:</label>
                    <select id="department" class="form-control" name="driver_department"
                            required [(ngModel)]="driver.driver_department" #driverDepartment="ngModel">
                        <option value="" disabled>Select department</option>
                        <option value="Food">Food</option>
                        <option value="Furniture">Furniture</option>
                        <option value="Electronic">Electronic</option>
                    </select>
                    @if(driverDepartment.invalid && driverDepartment.touched) {
                        <div class="text-danger">Please select a department.</div>
                    }
                </div>

                <div class="form-group mt-2">
                    <label for="driver_license" class="form-label fw-bold text-primary">Driver License:</label>
                    <input type="text" class="form-control" id="driver_license" name="driver_license" minlength="5"
                           maxlength="5" required [(ngModel)]="driver.driver_license" #driverLicense="ngModel">
                    @if(driverLicense.invalid && driverLicense.touched) {
                        <div class="text-danger">Driver license is required (5 characters).</div>
                    }
                </div>

                <div>
                    <input class="btn btn-primary mt-2" type="submit" [disabled]="driverForm.invalid" value="Update">
                </div>
            </form>
        </div>
    </div>

