<div class="container p-3 text-center flex-fill" style="height: 100vh; overflow: auto;">
    <h1>Packages List</h1>
    @if (packages && packages.length > 0) {
    <div style="max-height: 80vh; overflow-y: auto;">
        <table class="table table-striped table-bordered" style="table-layout: fixed; width: 100%;">
            <thead>
                <tr>
                    <th scope="col">Mongoose ID</th>
                    <th scope="col">Package ID</th>
                    <th scope="col">Title</th>
                    <th scope="col">Weight</th>
                    <th scope="col">Destination</th>
                    <th scope="col">Description</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Is Allocated</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @for (package of packages; track package; let i = $index) {
                <tr>
                    <td class="text-break">{{ package._id }}</td>
                    <td class="text-break">{{ package.package_id }}</td>
                    <td class="text-break">{{ package.package_title }}</td>
                    <td class="text-break">{{ package.package_weight }}</td>
                    <td class="text-break">{{ package.package_destination }}</td>
                    <td class="text-break">{{ package.package_description }}</td>
                    <td class="text-break">{{ package.created_at }}</td>
                    <td class="text-break">{{ package.is_allocated ? 'Yes' : 'No' }}</td>
                    <td>
                        <button class="btn btn-danger" (click)="deletePackage(package._id)">Delete</button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
    }
    @else {
    <div class="alert alert-info mt-3" role="alert">
        No packages available.
    </div>
    }
</div>