<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg" style="width: 50vw;">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">Select Driver to be Deleted</h2>
        </div>
        <div class="card-body">
            <form (ngSubmit)="deleteDriver()">
                <div class="form-group">
                    <label for="driver_mongoose_id" class="form-label fw-bold text-primary">Driver ID:</label>
                    <select class="form-control" id="driver_mongoose_id" name="driver_mongoose_id" required [(ngModel)]="driver._id">
                        <option value="" disabled selected>Select a driver</option>
                        @for (driver of drivers; track driver; let i = $index) {  
                            <option [ngValue]="driver._id">
                                {{ driver.driver_id }} - {{ driver.driver_name }}
                            </option>     
                        }
                    </select>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary m-3" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>