<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="card shadow-lg" style="width: 50vw;">
        <div class="card-header bg-primary text-white">
            <h2 class="text-center">Select Driver to be Deleted</h2>
        </div>
        <div class="card-body">
            <form (ngSubmit)="deleteDriver()">
                <div class="form-group">
                    <label for="driverID" class="form-label fw-bold text-primary">Driver ID:</label>
                    <input type="text" class="form-control" id="driverID" name="driver_id" required [(ngModel)]="driver._id">
                </div> 
                <div class="text-center">
                    <input class="btn btn-primary m-3" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</div>
