<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <!-- Logo goes here -->
    <a class="navbar-brand" href="/34279075/Justin">
        <img src="/images/logo.png" width="120" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Home Page -->
            <li class="nav-item active">
                <a class="nav-link" href="/34279075/Justin">Home</a>
            </li>

            <!-- Dropdown for Drivers -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="driversDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Drivers
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="driversDropdown">
                    <li><a class="dropdown-item" href="/34279075/Justin/add_driver">Add Driver</a></li>
                    <li><a class="dropdown-item" href="/34279075/Justin/list_drivers">List Drivers</a></li>
                    <li><a class="dropdown-item" href="/34279075/Justin/delete_driver">Delete Driver</a></li>
                    <li><a class="dropdown-item" href="/34279075/Justin/list_drivers_by_department">List Drivers by
                            Department</a></li>
                </ul>
            </li>

            <!-- Dropdown for Packages -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="packagesDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Packages
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="packagesDropdown">
                    <li><a class="dropdown-item" href="/34279075/Justin/add_package">Add Package</a></li>
                    <li><a class="dropdown-item" href="/34279075/Justin/list_packages">List Packages</a></li>
                    <li><a class="dropdown-item" href="/34279075/Justin/delete_package">Delete Package</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a *ngIf="userLoggedIn" class="nav-link" href="/logout">Logout</a>
                <a *ngIf="!userLoggedIn" class="nav-link" href="/login">Login</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/34279075/Justin/statistics">Statistics</a>
            </li>
        </ul>

    </div>
</nav>