<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
    <!-- Logo goes here -->
    <a class="navbar-brand" routerLink="/">
        <img src="/logo.png" width="120" alt="">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!-- Home Page -->
            <li class="nav-item active">
                <a class="nav-link" routerLink="/">Home</a>
            </li>

            <!-- Dropdown for Drivers -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="driversDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Drivers
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="driversDropdown">
                    <li><a class="dropdown-item" routerLink="/add-driver">Add Driver</a></li>
                    <li><a class="dropdown-item" routerLink="/list-drivers">List Drivers</a></li>
                    <li><a class="dropdown-item" routerLink="/delete-driver">Delete Driver</a></li>
                    <li><a class="dropdown-item" routerLink="/list-drivers-by-department">List Drivers by Department</a>
                    </li>
                    <li><a class="dropdown-item" routerLink="/update-driver">Update Driver</a></li>
                </ul>
            </li>

            <!-- Dropdown for Packages -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="packagesDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Packages
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="packagesDropdown">
                    <li><a class="dropdown-item" routerLink="/add-package">Add Package</a></li>
                    <li><a class="dropdown-item" routerLink="/list-packages">List Packages</a></li>
                    <li><a class="dropdown-item" routerLink="/delete-package">Delete Package</a></li>
                    <li><a class="dropdown-item" routerLink="/update-package">Update Package</a></li>
                </ul>
            </li>

            <!-- Dropdown for cloud services -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="cloudDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Cloud Services
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="cloudDropdown">
                <li><a class="dropdown-item" routerLink="/text-to-speech">Text to Speech</a></li>
                <li><a class="dropdown-item" routerLink="/translate-description">Translate description</a></li>
                <li><a class="dropdown-item" routerLink="/distance">Distance</a></li>
            </ul>   
            </li>

            <li class="nav-item">
                @if(userLoggedIn) {
                    <a class="nav-link" style="cursor: pointer;" (click)="logout()">Logout</a>
                } 
                @else {
                    <a class="nav-link" routerLink="/login">Login</a>
                }
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/statistics">Statistics</a>
            </li>
        </ul>
    </div>
</nav>

