<div class="jumbotron jumbotron-fluid d-flex align-items-center" style="height: 100vh;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-left align-self-center">
                <h1 class="display-4">Welcome to <b>Postver</b></h1>
                <p class="lead">We are renowned for our punctuality and reliability, ensuring every delivery arrives on
                    time with unmatched precision. Our commitment to timely service and dependable performance makes us
                    a trusted choice for all your logistical needs.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="/delivery.jpg" width="400" class="img-fluid">
            </div>
            <h2><b>Status: </b> Drivers: <b> {{ driverCount }} </b> | Packages: <b> {{ packageCount }}</b></h2>
        </div>
    </div>
</div>