<div class="container-fluid bg-orange-200 p-5">
    <div class="row">
        <div class="col-sm">
            <img src="/images/logo.png" width="200">
            <hr>
            <p class="text-left text-white">Justin Tan | 34279075</p>
        </div>
        <div class="col-sm">
            <b class="text-white">About Us</b>
            <hr>
            <p>
                We are renowned for our punctuality and reliability, ensuring every delivery arrives on time
                with unmatched precision. Our commitment to timely service and dependable performance makes us a
                trusted choice for all your logistical needs.
            </p>
        </div>
        <div class="col-sm">
            <b class="text-white">Contact Us</b>
            <hr>
            <ul class="list-unstyled">
                <li>Email: justin&#64;yahoo.com</li>
                <li>Phone: +1233567890</li>
                <li>Address: Monash University Australia, Clayton</li>
            </ul>
        </div>
    </div>
